/autom4te.cache/
/build*/
/build-aux/
/nbproject/private/
/tests/*.log
/tests/install/
/tests/run

/aclocal.m4
/configure
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/libtool
/stamp-h1

Makefile
Makefile.in
.deps/
.libs/

*.la
*.lo
*.o

csrc/namecrypto/.DS_Store

csrc/.DS_Store
