/autom4te.cache/
/build/
/build-aux/

/aclocal.m4
/configure
/config.cache
/config.h
/config.log
/config.status
/libtool
/stamp-h1
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

Makefile
.deps/
.libs/

*.in
*.la
*.lo
*.o
/nbproject/private/
